#C++ vision key
key.h

#C++ OpenCV setup location
CMakeLists.txt

#Android server information 
ip.txt
port.txt

#C++ delete all things without codes, images
*.log
*.tlog
*.suo
*.obj
*.sln
*.db
*.idb
*.pdb
*.ilk
*.opendb
*.vcxproj*

#Python delete pyc files
*.pyc
