#C++ vision key
key.h

#C++ OpenCV setup location
CMakeLists.txt

#Android server information 
ip.txt
port.txt

#Python vision key
key.txt

#C++ delete all things without codes, important images
*.log
*.tlog
*.suo
*.obj
*.sln
*.db
*.idb
*.pdb
*.ilk
*.opendb
*.vcxproj*
0.jpg
1.jpg
2.jpg
3.jpg
4.jpg
5.jpg
test.jpg

#delete db
db.sqlite3

#Python delete pyc files
*.pyc

#python delete graduate info
python/server/graduate/*.txt

android/.idea/misc.xml
android/build.gradle
android/openCVLibrary310/build/*
*.class

