#C++ vision key
key.h

#C++ OpenCV setup location
CMakeLists.txt

#Android server information 
ip.txt
port.txt

#Python vision key
key.txt

#C++ delete all things without codes, important images
*.log
*.tlog
*.suo
*.obj
*.sln
*.db
*.idb
*.pdb
*.ilk
*.opendb
*.vcxproj*
0.jpg
1.jpg
2.jpg
3.jpg
4.jpg
5.jpg

#Python delete pyc files
*.pyc
